
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-614274169034506907.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-614274169034506907.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-614274169034506907.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-614274169034506907.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-614274169034506907.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-614274169034506907.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-614274169034506907.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-614274169034506907.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-614274169034506907.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-614274169034506907.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-614274169034506907.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-614274169034506907.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-614274169034506907.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-614274169034506907.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-614274169034506907.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-614274169034506907.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-614274169034506907.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-614274169034506907.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-614274169034506907.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-614274169034506907.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-614274169034506907.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-614274169034506907.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-614274169034506907.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-614274169034506907.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-614274169034506907.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-614274169034506907.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-614274169034506907.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-614274169034506907.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-614274169034506907.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-614274169034506907.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-614274169034506907.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-614274169034506907.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-614274169034506907.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-614274169034506907.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-614274169034506907.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-614274169034506907.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-614274169034506907.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-614274169034506907.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-614274169034506907.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-614274169034506907.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-614274169034506907.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-614274169034506907.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-614274169034506907.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-614274169034506907.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-614274169034506907.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-614274169034506907.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-614274169034506907.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-614274169034506907.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-614274169034506907.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-614274169034506907.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-614274169034506907.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-614274169034506907.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-614274169034506907.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-614274169034506907.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-614274169034506907.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-614274169034506907.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-614274169034506907.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-614274169034506907.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-614274169034506907.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-614274169034506907.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-614274169034506907.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-614274169034506907.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-614274169034506907.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-614274169034506907.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-614274169034506907.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-614274169034506907.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-614274169034506907.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-614274169034506907.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-614274169034506907.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-614274169034506907.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-614274169034506907.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-614274169034506907.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-614274169034506907 .gp-relative{position:relative}.gps-614274169034506907 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-614274169034506907 .gp-mb-0{margin-bottom:0}.gps-614274169034506907 .gp-inline-block{display:inline-block}.gps-614274169034506907 .gp-flex{display:flex}.gps-614274169034506907 .gp-grid{display:grid}.gps-614274169034506907 .gp-contents{display:contents}.gps-614274169034506907 .\!gp-hidden{display:none!important}.gps-614274169034506907 .gp-hidden{display:none}.gps-614274169034506907 .gp-h-auto{height:auto}.gps-614274169034506907 .gp-h-full{height:100%}.gps-614274169034506907 .gp-w-full{width:100%}.gps-614274169034506907 .gp-max-w-full{max-width:100%}.gps-614274169034506907 .gp-flex-none{flex:none}.gps-614274169034506907 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-614274169034506907 .gp-flex-col{flex-direction:column}.gps-614274169034506907 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-614274169034506907 .gp-duration-200{transition-duration:.2s}.gps-614274169034506907 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-614274169034506907 .tablet\:\!gp-hidden{display:none!important}.gps-614274169034506907 .tablet\:gp-hidden{display:none}.gps-614274169034506907 .tablet\:gp-h-auto{height:auto}.gps-614274169034506907 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-614274169034506907 .mobile\:\!gp-hidden{display:none!important}.gps-614274169034506907 .mobile\:gp-hidden{display:none}.gps-614274169034506907 .mobile\:gp-h-auto{height:auto}.gps-614274169034506907 .mobile\:gp-flex-none{flex:none}}.gps-614274169034506907 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"goFPWgQhMx"}' data-id="goFPWgQhMx" id="goFPWgQhMx" data-same-height-subgrid-container class="goFPWgQhMx gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:119px;--pb:0px;--pt-mobile:90px;--pb-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gDDojD1e3t gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F2F2F2","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g8vHRLn0bu"}' data-id="g8vHRLn0bu" id="g8vHRLn0bu" data-same-height-subgrid-container class="g8vHRLn0bu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pb:40px;--mb-tablet:0px;--pb-tablet:40px;--mb-mobile:0px;--pb-mobile:45px;--cg:8px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#F2F2F2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g_j_627eA4 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gPwdxkb7eo"}' data-id="gPwdxkb7eo" id="gPwdxkb7eo" data-same-height-subgrid-container class="gPwdxkb7eo gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pl:15px;--pr:15px;--mb-mobile:14px;--pl-mobile:15px;--pr-mobile:15px;--cg:8px;--gtc:minmax(0, 12fr);--w:700px;--w-tablet:700px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-8961zq3g gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="guSGLdTsDB"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-89px;--mb:24px;--mt-mobile:-77px;--mb-mobile:21px;--ta:center"
      class="gp-group/image gp-relative force-publish-1775681219147 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto guSGLdTsDB"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gguSGLdTsDB_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEyIiBoZWlnaHQ9IjIxMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjEyLTIxMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjEyIiBoZWlnaHQ9IjIxMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjEyIiBoZWlnaHQ9IjIxMSIgZmlsbD0idXJsKCNnLTIxMi0yMTEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMTIiIHRvPSIyMTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gguSGLdTsDB_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEyIiBoZWlnaHQ9IjIxMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjEyLTIxMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjEyIiBoZWlnaHQ9IjIxMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjEyIiBoZWlnaHQ9IjIxMSIgZmlsbD0idXJsKCNnLTIxMi0yMTEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMTIiIHRvPSIyMTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.gguSGLdTsDB_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEyIiBoZWlnaHQ9IjIxMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjEyLTIxMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjEyIiBoZWlnaHQ9IjIxMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjEyIiBoZWlnaHQ9IjIxMSIgZmlsbD0idXJsKCNnLTIxMi0yMTEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMTIiIHRvPSIyMTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.gguSGLdTsDB_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:180px;--w-tablet:180px;--w-mobile:150px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-guSGLdTsDB">
        .guSGLdTsDB {

}
.guSGLdTsDB > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSR692bw0r"
        class="gSR692bw0r"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:22px;--mb-tablet:22px;--mb-mobile:16px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:30px;--size-tablet:40px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSR692bw0r_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4hDzZ94-8"
        class="g4hDzZ94-8"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4hDzZ94-8_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g4hDzZ94-8">
        .g4hDzZ94-8 {

}
.g4hDzZ94-8 p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-614274169034506907 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/iy0n01-bx/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=614274030555366192&sectionId=614274169034506907)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gguSGLdTsDB_srcSet_desktop_src","label":"gguSGLdTsDB_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-ec075625-560b-4f73-8f6b-c7c81d080f42.svg?v=1715236002"},{"type":"html","id":"ggSR692bw0r_text","label":"ggSR692bw0r_text","default":"<span style=\"font-size:24px;\">Tragen Sie sie 30 Tage lang auf der Baustelle. Wenn sich Ihre Füße nicht besser anfühlen, schicken Sie sie einfach zurück.</span>"},{"type":"html","id":"gg4hDzZ94-8_text","label":"gg4hDzZ94-8_text","default":"<p><span style=\"font-size:15px;\">Tragen Sie sie auf Beton. Tragen Sie sie bei 10-Stunden-Schichten. Wenn sich Ihre Plantarfasziitis-Schmerzen nicht verbessert haben, <strong>schicken Sie sie zurück und erhalten Sie eine vollständige Rückerstattung.</strong> Kein Aufwand. Kein Kleingedrucktes.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}