
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-614273479474152240.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-614273479474152240.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-614273479474152240.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-614273479474152240.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-614273479474152240.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-614273479474152240.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-614273479474152240.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-614273479474152240.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-614273479474152240.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-614273479474152240.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-614273479474152240.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-614273479474152240.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-614273479474152240.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-614273479474152240.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-614273479474152240.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-614273479474152240.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-614273479474152240.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-614273479474152240.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-614273479474152240.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-614273479474152240.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-614273479474152240.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-614273479474152240.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-614273479474152240.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-614273479474152240.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-614273479474152240.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-614273479474152240.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-614273479474152240.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-614273479474152240.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-614273479474152240.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-614273479474152240.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-614273479474152240.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-614273479474152240.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-614273479474152240.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-614273479474152240.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-614273479474152240.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-614273479474152240.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-614273479474152240.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-614273479474152240.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-614273479474152240.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-614273479474152240.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-614273479474152240.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-614273479474152240.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-614273479474152240.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-614273479474152240.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-614273479474152240.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-614273479474152240.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-614273479474152240.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-614273479474152240.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-614273479474152240.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-614273479474152240.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-614273479474152240.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-614273479474152240.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-614273479474152240.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-614273479474152240.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-614273479474152240.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-614273479474152240.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-614273479474152240.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-614273479474152240.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-614273479474152240.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-614273479474152240.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-614273479474152240.gps.gpsil [style*="--objf-tablet:"]{-o-object-fit:var(--objf-tablet);object-fit:var(--objf-tablet)}.gps-614273479474152240.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-614273479474152240.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-614273479474152240.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-614273479474152240.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-614273479474152240.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-614273479474152240.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-614273479474152240.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-614273479474152240.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-614273479474152240.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-614273479474152240.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-614273479474152240.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-614273479474152240.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-614273479474152240.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-614273479474152240.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-614273479474152240.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-614273479474152240.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-614273479474152240.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-614273479474152240.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-614273479474152240.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-614273479474152240.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-614273479474152240.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-614273479474152240.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-614273479474152240.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-614273479474152240.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-614273479474152240.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-614273479474152240.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-614273479474152240.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-614273479474152240.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-614273479474152240.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-614273479474152240.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-614273479474152240.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-614273479474152240 .gp-relative{position:relative}.gps-614273479474152240 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-614273479474152240 .gp-mb-0{margin-bottom:0}.gps-614273479474152240 .gp-inline-block{display:inline-block}.gps-614273479474152240 .gp-flex{display:flex}.gps-614273479474152240 .gp-inline-flex{display:inline-flex}.gps-614273479474152240 .gp-grid{display:grid}.gps-614273479474152240 .gp-contents{display:contents}.gps-614273479474152240 .\!gp-hidden{display:none!important}.gps-614273479474152240 .gp-hidden{display:none}.gps-614273479474152240 .gp-h-auto{height:auto}.gps-614273479474152240 .gp-h-full{height:100%}.gps-614273479474152240 .gp-w-full{width:100%}.gps-614273479474152240 .gp-max-w-full{max-width:100%}.gps-614273479474152240 .gp-flex-none{flex:none}.gps-614273479474152240 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-614273479474152240 .gp-flex-col{flex-direction:column}.gps-614273479474152240 .gp-items-center{align-items:center}.gps-614273479474152240 .gp-justify-center{justify-content:center}.gps-614273479474152240 .gp-overflow-hidden{overflow:hidden}.gps-614273479474152240 .gp-leading-\[0\]{line-height:0}.gps-614273479474152240 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-614273479474152240 .gp-duration-200{transition-duration:.2s}.gps-614273479474152240 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-614273479474152240 .tablet\:\!gp-hidden{display:none!important}.gps-614273479474152240 .tablet\:gp-hidden{display:none}.gps-614273479474152240 .tablet\:gp-h-full{height:100%}.gps-614273479474152240 .tablet\:gp-flex-1{flex:1 1 0%}}@media (max-width:767px){.gps-614273479474152240 .mobile\:\!gp-hidden{display:none!important}.gps-614273479474152240 .mobile\:gp-hidden{display:none}.gps-614273479474152240 .mobile\:gp-h-auto{height:auto}.gps-614273479474152240 .mobile\:gp-flex-none{flex:none}}.gps-614273479474152240 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-614273479474152240 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-614273479474152240 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-614273479474152240 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-614273479474152240 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"RGBA(226, 226, 226, 0.31)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"RGBA(226, 226, 226, 0.31)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gGEfrKSLLi"}' data-id="gGEfrKSLLi" id="gGEfrKSLLi" data-same-height-subgrid-container class="gGEfrKSLLi gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:40px;--pb:40px;--pt-tablet:40px;--pb-tablet:40px;--pt-mobile:40px;--pb-mobile:40px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:RGBA(226, 226, 226, 0.31);--bgc-mobile:RGBA(226, 226, 226, 0.31);--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gowpKfAzni gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gkQIei0CE3"}' data-id="gkQIei0CE3" id="gkQIei0CE3" data-same-height-subgrid-container class="gkQIei0CE3 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--pl-mobile:20px;--pr-mobile:20px;--mb-tablet:0px;--cg:54px;--rg:0px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:90%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:0;--o-mobile:1"
      class="gq50sgTxu_ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gjTN-W7iKv"}' data-id="gjTN-W7iKv" id="gjTN-W7iKv" data-same-height-subgrid-container class="gjTN-W7iKv gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-tablet:12px;--mb-mobile:12px;--cg:12px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gHtL9nrBNC gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gZZ_bTYliN" class="gp-leading-[0] gZZ_bTYliN" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gZZ_bTYliN" class="icon-wrapper gp-inline-flex gp-overflow-hidden gZZ_bTYliN " style="--shadow:none">
      
        <div >
          <span style="--c:#000000;--t:rotate(0deg);--w:40px;--w-tablet:40px;--w-mobile:35px;--h:40px;--h-tablet:40px;--h-mobile:35px;--minw:40px;--minw-tablet:40px;--minw-mobile:35px;--height-desktop:40px;--height-tablet:40px;--height-mobile:35px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-name="st2.svg" data-id="593082614051504808" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="28" height="34" viewBox="0 0 28 34" fill="none">
<rect x="0.5" y="0.5" width="27" height="33" rx="13.5" fill="#FFF7F0"/>
<rect x="0.5" y="0.5" width="27" height="33" rx="13.5" stroke="#242424"/>
<path d="M9.06108 24V22.0057L13.7209 17.6911C14.1172 17.3075 14.4496 16.9624 14.718 16.6555C14.9908 16.3487 15.1974 16.0483 15.3381 15.7543C15.4787 15.456 15.549 15.1342 15.549 14.7891C15.549 14.4055 15.4616 14.0753 15.2869 13.7983C15.1122 13.517 14.8736 13.3018 14.571 13.1527C14.2685 12.9993 13.9254 12.9226 13.5419 12.9226C13.1413 12.9226 12.7919 13.0036 12.4936 13.1655C12.1953 13.3274 11.9652 13.5597 11.8033 13.8622C11.6413 14.1648 11.5604 14.5249 11.5604 14.9425H8.93324C8.93324 14.0859 9.12713 13.3423 9.51491 12.7116C9.9027 12.081 10.446 11.593 11.1449 11.2479C11.8438 10.9027 12.6491 10.7301 13.5611 10.7301C14.4986 10.7301 15.3146 10.8963 16.0092 11.2287C16.7081 11.5568 17.2514 12.0128 17.6392 12.5966C18.027 13.1804 18.2209 13.8494 18.2209 14.6037C18.2209 15.098 18.1229 15.5859 17.9268 16.0675C17.7351 16.549 17.392 17.0838 16.8977 17.6719C16.4034 18.2557 15.7067 18.9567 14.8075 19.7749L12.8963 21.6477V21.7372H18.3935V24H9.06108Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gJYkvdkloU gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsJZtO9Kxq"
        class="gsJZtO9Kxq"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--mb-tablet:10px;--mb-mobile:15px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:30px;--size-tablet:32px;--size-mobile:21px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsJZtO9Kxq_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGlBXjKNCe"
        class="gGlBXjKNCe"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:32px;--pb-tablet:0px;--mb-mobile:0px;--pb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGlBXjKNCe_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o:1;--o-mobile:0"
      class="gix8mJuRod gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gmQu06O_Me"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:15px;--ta:center"
      class="gp-group/image gp-relative force-publish-1775682264562 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-1 tablet:gp-h-full gmQu06O_Me"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggmQu06O_Me_srcSet_mobile_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggmQu06O_Me_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggmQu06O_Me_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggmQu06O_Me_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-mobile:auto;--objf:cover;--objf-tablet:cover;--h:auto;--h-tablet:100%;--h-mobile:340px;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:12px;--bbrr:12px;--btlr:12px;--btrr:12px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-614273479474152240 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/iy0n01-bx/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=614273423538913963&sectionId=614273479474152240)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggsJZtO9Kxq_text","label":"ggsJZtO9Kxq_text","default":"Der Sicherheitsstandard hat nichts mit dem Gewicht zu tun"},{"type":"html","id":"ggGlBXjKNCe_text","label":"ggGlBXjKNCe_text","default":"<p>Darüber spricht in der Branche kaum jemand.</p><p>&nbsp;</p><p>S3 ist ein Leistungsstandard. Er legt fest, wogegen ein Schuh schützen muss: Aufprall, Durchtritt, Wasser, Rutschfestigkeit. Er schreibt jedoch nicht vor, welche Materialien dafür verwendet werden müssen.</p><p>&nbsp;</p><p>Über Jahrzehnte hinweg haben Hersteller für alles Stahl eingesetzt: Stahlkappe, Stahlsohle, Stahlverstärkungen. Stahl ist günstig. Er funktioniert. Und da die Arbeiter, die die Schuhe tragen, nie diejenigen waren, die sie ausgewählt haben, hatte niemand in der Lieferkette einen Grund, nach besseren Lösungen zu suchen.</p><p>&nbsp;</p><p>Einige wenige Hersteller haben erkannt, dass Kevlar – das gleiche Material, das in Schutzwesten verwendet wird – die Anforderungen der S3-Durchtrittssicherheit erfüllt, und das bei einem Bruchteil des Gewichts einer Stahlsohle.&nbsp;</p><p>&nbsp;</p><p>Der Schutz ist identisch. Die Zertifizierung ist dieselbe. Der Schuh besteht jede Baustellenkontrolle.</p><p>&nbsp;</p><p>Er wiegt einfach nur 460 Gramm.</p><p>&nbsp;</p><p>460 Gramm. Das ist leichter als die meisten Sneaker.</p><p>&nbsp;</p><p>Das Gewicht war nie Teil der Sicherheitsanforderung. Es war nur ein Nebeneffekt, den lange niemand hinterfragt hat.</p>"},{"type":"html","id":"ggmQu06O_Me_srcSet_desktop_src","label":"ggmQu06O_Me_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0673/2562/4490/files/section2.webp"},{"type":"html","id":"ggmQu06O_Me_srcSet_mobile_src","label":"ggmQu06O_Me_srcSet_mobile_src","default":"https://cdn.shopify.com/s/files/1/0673/2562/4490/files/section2.webp"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}