
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-614274127276016432.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-614274127276016432.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-614274127276016432.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-614274127276016432.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-614274127276016432.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-614274127276016432.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-614274127276016432.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-614274127276016432.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-614274127276016432.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-614274127276016432.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-614274127276016432.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-614274127276016432.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-614274127276016432.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-614274127276016432.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-614274127276016432.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-614274127276016432.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-614274127276016432.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-614274127276016432.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-614274127276016432.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-614274127276016432.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-614274127276016432.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-614274127276016432.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-614274127276016432.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-614274127276016432.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-614274127276016432.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-614274127276016432.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-614274127276016432.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-614274127276016432.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-614274127276016432.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-614274127276016432.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-614274127276016432.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-614274127276016432.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-614274127276016432.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-614274127276016432.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-614274127276016432.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-614274127276016432.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-614274127276016432.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-614274127276016432.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-614274127276016432.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-614274127276016432.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-614274127276016432.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-614274127276016432.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-614274127276016432.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-614274127276016432.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-614274127276016432.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-614274127276016432.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-614274127276016432.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-614274127276016432.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-614274127276016432.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-614274127276016432.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-614274127276016432.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-614274127276016432.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-614274127276016432.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-614274127276016432.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-614274127276016432.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-614274127276016432.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-614274127276016432.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-614274127276016432.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-614274127276016432.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-614274127276016432.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-614274127276016432.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-614274127276016432.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-614274127276016432.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-614274127276016432.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-614274127276016432.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-614274127276016432.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-614274127276016432.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-614274127276016432.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-614274127276016432.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-614274127276016432.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-614274127276016432.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-614274127276016432.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-614274127276016432.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-614274127276016432.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-614274127276016432.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-614274127276016432.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-614274127276016432.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-614274127276016432.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-614274127276016432.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-614274127276016432.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-614274127276016432.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-614274127276016432.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-614274127276016432 .gp-relative{position:relative}.gps-614274127276016432 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-614274127276016432 .gp-mb-0{margin-bottom:0}.gps-614274127276016432 .gp-flex{display:flex}.gps-614274127276016432 .gp-grid{display:grid}.gps-614274127276016432 .\!gp-hidden{display:none!important}.gps-614274127276016432 .gp-hidden{display:none}.gps-614274127276016432 .gp-w-full{width:100%}.gps-614274127276016432 .\!gp-max-w-none{max-width:none!important}.gps-614274127276016432 .gp-max-w-full{max-width:100%}.gps-614274127276016432 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-614274127276016432 .gp-flex-col{flex-direction:column}.gps-614274127276016432 .gp-overflow-hidden{overflow:hidden}.gps-614274127276016432 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity,1))}.gps-614274127276016432 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-614274127276016432 .gp-duration-200{transition-duration:.2s}.gps-614274127276016432 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-614274127276016432 .tablet\:\!gp-hidden{display:none!important}.gps-614274127276016432 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-614274127276016432 .mobile\:\!gp-hidden{display:none!important}.gps-614274127276016432 .mobile\:gp-hidden{display:none}}.gps-614274127276016432 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-614274127276016432 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-614274127276016432 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-614274127276016432 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hjg&skey=c491285d6722e4fa&v=v20) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYAZ9hjg&skey=c491285d6722e4fa&v=v20) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuBWYAZ9hjg&skey=c491285d6722e4fa&v=v20) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g8cT-SS-M2"}' data-id="g8cT-SS-M2" id="g8cT-SS-M2" data-same-height-subgrid-container class="g8cT-SS-M2 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:45px;--pl:450px;--pb:45px;--pr:450px;--pt-tablet:45px;--pl-tablet:450px;--pb-tablet:45px;--pr-tablet:450px;--pt-mobile:30px;--pl-mobile:0px;--pb-mobile:40px;--pr-mobile:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgc-mobile:transparent;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g42av4gsoF gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g7-q3wp08t"}' data-id="g7-q3wp08t" id="g7-q3wp08t" data-same-height-subgrid-container class="g7-q3wp08t gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--pl-mobile:20px;--pr-mobile:20px;--mb-tablet:0px;--cg:89px;--rg:0px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, auto);--w:90%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="gDeIhCWtMh gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4uMW1S-SV"
        class="g4uMW1S-SV"
        style="--ta:left;--mb:15px;--mb-tablet:15px;--mb-mobile:20px;--d:none;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:900;--size:31px;--size-tablet:46px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4uMW1S-SV_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
       data-id="g5w1plgG8A" class="g5w1plgG8A !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--mb:15px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--op:100%;--aspect:auto">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-g5w1plgG8A" title="Video" preload="metadata" data-src="{{ section.settings.gg5w1plgG8A_html5Url }}" poster data-poster
      style="--aspect:auto"
      class="gp-w-full gp-lazyload-video"
      
      loop
      muted
      autoplay
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gfds2nYhEZ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-wD6fL1OU"
        class="g-wD6fL1OU"
        style="--ta:left;--mb:15px;--mb-tablet:15px;--mb-mobile:20px;--d:block;--d-tablet:none;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:900;--size:31px;--size-tablet:46px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-wD6fL1OU_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gk3giMjOq7"}' data-id="gk3giMjOq7" id="gk3giMjOq7" data-same-height-subgrid-container class="gk3giMjOq7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gMmHF0w_jJ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gO6rpANfnk"
        class="gO6rpANfnk"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:15px;--pb:0px;--pb-tablet:0px;--mb-mobile:0px;--pb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggO6rpANfnk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-614274127276016432 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/iy0n01-bx/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=614274030555366192&sectionId=614274127276016432)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg4uMW1S-SV_text","label":"gg4uMW1S-SV_text","default":"1.Every step in a 1kg boot is a hammer blow to your fascia"},{"type":"html","id":"gg5w1plgG8A_youtubeUrl","label":"gg5w1plgG8A_youtubeUrl","default":"https://www.youtube.com/watch?v=NfASaHFN1zg"},{"type":"html","id":"gg5w1plgG8A_vimeoUrl","label":"gg5w1plgG8A_vimeoUrl","default":"https://vimeo.com/1095883398"},{"type":"html","id":"gg5w1plgG8A_html5Url","label":"gg5w1plgG8A_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/85ee055ec2004025bc00091145ecaa9a.mp4"},{"type":"html","id":"gg-wD6fL1OU_text","label":"gg-wD6fL1OU_text","default":"1.Every step in a 1kg boot is a hammer blow to your fascia"},{"type":"html","id":"ggO6rpANfnk_text","label":"ggO6rpANfnk_text","default":"<p>The average safety boot weighs over 1kg per foot. On a standard shift, that's somewhere between 8,000 and 12,000 steps: <strong>8 to 12 tonnes of extra load</strong> your plantar fascia absorbs every day compared to a lighter shoe.</p><p>&nbsp;</p><p>Your fascia is a thin band of tissue. It wasn't built for that kind of repeated impact on concrete. Over months, it develops micro-tears faster than your body can repair them. That's when the stabbing pain starts.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}