
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-614274169202279067.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-614274169202279067.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-614274169202279067.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-614274169202279067.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-614274169202279067.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-614274169202279067.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-614274169202279067.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-614274169202279067.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-614274169202279067.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-614274169202279067.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-614274169202279067.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-614274169202279067.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-614274169202279067.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-614274169202279067.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-614274169202279067.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-614274169202279067.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-614274169202279067.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-614274169202279067.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-614274169202279067.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-614274169202279067.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-614274169202279067.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-614274169202279067.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-614274169202279067.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-614274169202279067.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-614274169202279067.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-614274169202279067.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-614274169202279067.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-614274169202279067.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-614274169202279067.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-614274169202279067.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-614274169202279067.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-614274169202279067.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-614274169202279067.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-614274169202279067.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-614274169202279067.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-614274169202279067.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-614274169202279067.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-614274169202279067.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-614274169202279067.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-614274169202279067.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-614274169202279067.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-614274169202279067.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-614274169202279067.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-614274169202279067.gps.gpsil [style*="--of:"]{overflow:var(--of)}.gps-614274169202279067.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-614274169202279067.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-614274169202279067.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-614274169202279067.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-614274169202279067.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-614274169202279067.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-614274169202279067.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-614274169202279067.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-614274169202279067.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-614274169202279067.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-614274169202279067.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-614274169202279067.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-614274169202279067.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-614274169202279067.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-614274169202279067.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-614274169202279067.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-614274169202279067.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-614274169202279067.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-614274169202279067.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-614274169202279067.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-614274169202279067.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-614274169202279067.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-614274169202279067.gps.gpsil [style*="--of-tablet:"]{overflow:var(--of-tablet)}.gps-614274169202279067.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-614274169202279067.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-614274169202279067.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-614274169202279067.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-614274169202279067.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-614274169202279067.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-614274169202279067.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-614274169202279067.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-614274169202279067.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-614274169202279067.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-614274169202279067.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-614274169202279067.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-614274169202279067.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-614274169202279067.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-614274169202279067.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-614274169202279067.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-614274169202279067.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-614274169202279067.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-614274169202279067.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-614274169202279067.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-614274169202279067.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-614274169202279067.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-614274169202279067.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-614274169202279067.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-614274169202279067.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-614274169202279067.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-614274169202279067.gps.gpsil [style*="--of-mobile:"]{overflow:var(--of-mobile)}.gps-614274169202279067.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-614274169202279067.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-614274169202279067.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-614274169202279067.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-614274169202279067.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-614274169202279067.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-614274169202279067.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-614274169202279067.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-614274169202279067.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-614274169202279067.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-614274169202279067 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-614274169202279067 .gp-relative{position:relative}.gps-614274169202279067 .gp-z-1{z-index:1}.gps-614274169202279067 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-614274169202279067 .gp-mb-0{margin-bottom:0}.gps-614274169202279067 .gp-inline-block{display:inline-block}.gps-614274169202279067 .gp-flex{display:flex}.gps-614274169202279067 .gp-inline-flex{display:inline-flex}.gps-614274169202279067 .gp-grid{display:grid}.gps-614274169202279067 .gp-contents{display:contents}.gps-614274169202279067 .\!gp-hidden{display:none!important}.gps-614274169202279067 .gp-hidden{display:none}.gps-614274169202279067 .gp-h-auto{height:auto}.gps-614274169202279067 .gp-h-full{height:100%}.gps-614274169202279067 .gp-w-full{width:100%}.gps-614274169202279067 .gp-max-w-full{max-width:100%}.gps-614274169202279067 .gp-flex-none{flex:none}.gps-614274169202279067 .gp-shrink-0{flex-shrink:0}.gps-614274169202279067 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-614274169202279067 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-614274169202279067 .gp-flex-col{flex-direction:column}.gps-614274169202279067 .gp-items-center{align-items:center}.gps-614274169202279067 .gp-justify-center{justify-content:center}.gps-614274169202279067 .gp-overflow-hidden{overflow:hidden}.gps-614274169202279067 .gp-break-words{overflow-wrap:break-word}.gps-614274169202279067 .gp-border{border-width:1px}.gps-614274169202279067 .gp-border-transparent{border-color:transparent}.gps-614274169202279067 .gp-text-left{text-align:left}.gps-614274169202279067 .gp-text-center{text-align:center}.gps-614274169202279067 .gp-no-underline{text-decoration-line:none}.gps-614274169202279067 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-614274169202279067 .gp-duration-200{transition-duration:.2s}.gps-614274169202279067 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-614274169202279067 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-614274169202279067 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-614274169202279067 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-614274169202279067 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-614274169202279067 .tablet\:\!gp-hidden{display:none!important}.gps-614274169202279067 .tablet\:gp-hidden{display:none}.gps-614274169202279067 .tablet\:gp-h-auto{height:auto}.gps-614274169202279067 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-614274169202279067 .mobile\:\!gp-hidden{display:none!important}.gps-614274169202279067 .mobile\:gp-hidden{display:none}.gps-614274169202279067 .mobile\:gp-h-auto{height:auto}.gps-614274169202279067 .mobile\:gp-flex-none{flex:none}}.gps-614274169202279067 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-614274169202279067 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-614274169202279067 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-614274169202279067 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-614274169202279067 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-614274169202279067 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-614274169202279067 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-614274169202279067 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-614274169202279067 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-614274169202279067 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-614274169202279067 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-614274169202279067 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gVxX3qPb34"}' data-id="gVxX3qPb34" id="gVxX3qPb34" data-same-height-subgrid-container class="gVxX3qPb34 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:40px;--pl:450px;--pb:0px;--pr:450px;--pt-tablet:80px;--pl-tablet:40px;--pb-tablet:80px;--pr-tablet:40px;--pt-mobile:25px;--pl-mobile:25px;--pb-mobile:0px;--pr-mobile:25px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgc-mobile:transparent;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gj5HNK5QFH gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gfVYlJhXE1"}' data-id="gfVYlJhXE1" id="gfVYlJhXE1" data-same-height-subgrid-container class="gfVYlJhXE1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--pb-mobile:0px;--cg:42px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:90%;--w-mobile:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="grSdWkkfmj gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdRXcV3Nwk"
        class="gdRXcV3Nwk"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--mb-tablet:10px;--mb-mobile:15px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--size:17px;--size-tablet:36px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--weight:bold;--c:#2A7D4F;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdRXcV3Nwk_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLAtTUfzjN"
        class="gLAtTUfzjN"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--mb-tablet:10px;--mb-mobile:15px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:900;--size:31px;--size-tablet:36px;--size-mobile:26px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLAtTUfzjN_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="geznjlcDJI"
        class="geznjlcDJI"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:25px;--pb:0px;--mb-tablet:25px;--pb-tablet:0px;--mb-mobile:15px;--pb-mobile:15px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:130%;--lh-tablet:180%;--lh-mobile:150%;--c:#121212;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggeznjlcDJI_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gEkR6G28f4"}' data-id="gEkR6G28f4" id="gEkR6G28f4" data-same-height-subgrid-container class="gEkR6G28f4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:63px;--pt:25px;--pl:25px;--pb:25px;--pr:25px;--mb-tablet:63px;--pt-tablet:25px;--pl-tablet:25px;--pb-tablet:25px;--pr-tablet:25px;--pt-mobile:25px;--pl-mobile:25px;--pb-mobile:25px;--pr-mobile:25px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:2px 2px 2px 2px;--bc:#4EA529;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g5lY0kegZs gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gOa8QtSsIy"
        class="gOa8QtSsIy"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:15px;--mb-tablet:15px;--mb-mobile:15px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:900;--size:28px;--size-tablet:36px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggOa8QtSsIy_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gMxpGd5DMk"
      style="--mb:20px;--mb-tablet:20px;--mb-mobile:15px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775681424475 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gMxpGd5DMk"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggMxpGd5DMk_srcSet_mobile_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggMxpGd5DMk_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggMxpGd5DMk_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggMxpGd5DMk_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:45%;--w-tablet:45%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:15px;--bblr:15px;--bbrr:15px;--btlr:15px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3sFvYlDgO"
        class="g3sFvYlDgO"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--pb:0px;--mb-tablet:20px;--pb-tablet:0px;--mb-mobile:10px;--pb-mobile:15px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:15px;--lh:130%;--lh-tablet:180%;--lh-mobile:130%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3sFvYlDgO_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gQdZrqFn2N"}' data-id="gQdZrqFn2N" id="gQdZrqFn2N" data-same-height-subgrid-container class="gQdZrqFn2N gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gCUUa4qRMc gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FDF5F4","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gEL-FDfsl-"}' data-id="gEL-FDfsl-" id="gEL-FDfsl-" data-same-height-subgrid-container class="gEL-FDfsl- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-mobile:5px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#FDF5F4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gEXNnisVG5 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gDT21h2JPX ">
      
    
    <div class="gp-flex" style="--jc:left">
    <div
      data-id="gDT21h2JPX"
       style="--mb:5px;--mb-tablet:5px;--mb-mobile:5px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--gg:12px"
        >
        
    <li
      data-index="0" data-id="g617kMCZHD"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gDT21h2JPX"
      style="--bgc:transparent;--bgi:transparent;--cg:12px"
    >
    <div
      data-same-height-display-contents
      
      class="gIt2b_faS3 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g_ff8hL6xI"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775681424481 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g_ff8hL6xI"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg_ff8hL6xI_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg_ff8hL6xI_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.gg_ff8hL6xI_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.gg_ff8hL6xI_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:30px;--w-tablet:30px;--w-mobile:30px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      
      class="gEweeORiWm gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ge5fjg9i8t"
        class="ge5fjg9i8t"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#C14034;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gge5fjg9i8t_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
      </ul>
  </div>
  </div>
  
      </div><div gp-el-wrapper  class="gQRkBlTyGh ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gQRkBlTyGh"
      data-id="gQRkBlTyGh"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--jc:left"
      className="gQRkBlTyGh"
      gp-data='{"position":{"desktop":"center","tablet":"center","mobile":"center"},"iconWidth":{"desktop":"19"}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:4px;--rg-mobile:0px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gQRkBlTyGh"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#C14034;--w:100%;--h:100%;--size-desktop:19px;--size-tablet:19px;--size-mobile:19px"
                        >
                          <svg height="20" width="20" data-name="x-circle-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817766391349608">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm37.66,130.34a8,8,0,0,1-11.32,11.32L128,139.31l-26.34,26.35a8,8,0,0,1-11.32-11.32L116.69,128,90.34,101.66a8,8,0,0,1,11.32-11.32L128,116.69l26.34-26.35a8,8,0,0,1,11.32,11.32L139.31,128Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQRkBlTyGh_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gQRkBlTyGh"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#C14034;--w:100%;--h:100%;--size-desktop:19px;--size-tablet:19px;--size-mobile:19px"
                        >
                          <svg height="20" width="20" data-name="x-circle-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817766391349608">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm37.66,130.34a8,8,0,0,1-11.32,11.32L128,139.31l-26.34,26.35a8,8,0,0,1-11.32-11.32L116.69,128,90.34,101.66a8,8,0,0,1,11.32-11.32L128,116.69l26.34-26.35a8,8,0,0,1,11.32,11.32L139.31,128Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQRkBlTyGh_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gQRkBlTyGh"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#C14034;--w:100%;--h:100%;--size-desktop:19px;--size-tablet:19px;--size-mobile:19px"
                        >
                          <svg height="20" width="20" data-name="x-circle-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817766391349608">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm37.66,130.34a8,8,0,0,1-11.32,11.32L128,139.31l-26.34,26.35a8,8,0,0,1-11.32-11.32L116.69,128,90.34,101.66a8,8,0,0,1,11.32-11.32L128,116.69l26.34-26.35a8,8,0,0,1,11.32,11.32L139.31,128Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQRkBlTyGh_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="3"
                      data-index="3"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gQRkBlTyGh"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#C14034;--w:100%;--h:100%;--size-desktop:19px;--size-tablet:19px;--size-mobile:19px"
                        >
                          <svg height="20" width="20" data-name="x-circle-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817766391349608">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm37.66,130.34a8,8,0,0,1-11.32,11.32L128,139.31l-26.34,26.35a8,8,0,0,1-11.32-11.32L116.69,128,90.34,101.66a8,8,0,0,1,11.32-11.32L128,116.69l26.34-26.35a8,8,0,0,1,11.32,11.32L139.31,128Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQRkBlTyGh_childItem_3 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="4"
                      data-index="4"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gQRkBlTyGh"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#C14034;--w:100%;--h:100%;--size-desktop:19px;--size-tablet:19px;--size-mobile:19px"
                        >
                          <svg height="20" width="20" data-name="x-circle-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817766391349608">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm37.66,130.34a8,8,0,0,1-11.32,11.32L128,139.31l-26.34,26.35a8,8,0,0,1-11.32-11.32L116.69,128,90.34,101.66a8,8,0,0,1,11.32-11.32L128,116.69l26.34-26.35a8,8,0,0,1,11.32,11.32L139.31,128Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQRkBlTyGh_childItem_4 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gVIJv28S4X gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#EAF5EF","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g3nT2-wO40"}' data-id="g3nT2-wO40" id="g3nT2-wO40" data-same-height-subgrid-container class="g3nT2-wO40 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:28px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-tablet:28px;--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--mb-mobile:15px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#EAF5EF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g2sNteAcHL gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gwOTF_2kkz ">
      
    
    <div class="gp-flex" style="--jc:left">
    <div
      data-id="gwOTF_2kkz"
       style="--mb:5px;--mb-tablet:5px;--mb-mobile:9px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--gg:12px"
        >
        
    <li
      data-index="0" data-id="glYUO1ZHlb"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gwOTF_2kkz"
      style="--bgc:transparent;--bgi:transparent;--cg:12px"
    >
    <div
      data-same-height-display-contents
      
      class="gIFHpPgfC2 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gvXn-Fltz3"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--mb-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1775681424487 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gvXn-Fltz3"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggvXn-Fltz3_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggvXn-Fltz3_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggvXn-Fltz3_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggvXn-Fltz3_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:30px;--w-tablet:30px;--w-mobile:30px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      
      class="gb1DKt30a_ gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    <div
      role="presentation"
      data-id="gn-28Ch0fX"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--ta-mobile:left"
      class="gp-group/image gp-relative force-publish-1775681424488 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gn-28Ch0fX"
    >
      <div
        
        style="border-radius:inherit;--jc:left;--jc-mobile:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggn-28Ch0fX_srcSet_mobile_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUwMCIgaGVpZ2h0PSI1MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1MDAtNTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUwMCIgaGVpZ2h0PSI1MDAiIGZpbGw9InVybCgjZy0xNTAwLTUwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1MDAiIHRvPSIxNTAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggn-28Ch0fX_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUwMCIgaGVpZ2h0PSI1MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1MDAtNTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUwMCIgaGVpZ2h0PSI1MDAiIGZpbGw9InVybCgjZy0xNTAwLTUwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1MDAiIHRvPSIxNTAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.ggn-28Ch0fX_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUwMCIgaGVpZ2h0PSI1MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1MDAtNTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUwMCIgaGVpZ2h0PSI1MDAiIGZpbGw9InVybCgjZy0xNTAwLTUwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1MDAiIHRvPSIxNTAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggn-28Ch0fX_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:30%;--w-tablet:30%;--w-mobile:140px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>
  </li>
      </ul>
  </div>
  </div>
  
      </div><div gp-el-wrapper  class="gIFNnxD6uB ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gIFNnxD6uB"
      data-id="gIFNnxD6uB"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--jc:left"
      className="gIFNnxD6uB"
      gp-data='{"position":{"desktop":"center","tablet":"center","mobile":"center"},"iconWidth":{"desktop":"19"}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:4px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gIFNnxD6uB"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#2A7D4F;--w:100%;--h:100%;--size-desktop:19px;--size-tablet:19px;--size-mobile:19px"
                        >
                          <svg data-name="check-circle-filled" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIFNnxD6uB_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gIFNnxD6uB"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#2A7D4F;--w:100%;--h:100%;--size-desktop:19px;--size-tablet:19px;--size-mobile:19px"
                        >
                          <svg data-name="check-circle-filled" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIFNnxD6uB_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gIFNnxD6uB"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#2A7D4F;--w:100%;--h:100%;--size-desktop:19px;--size-tablet:19px;--size-mobile:19px"
                        >
                          <svg data-name="check-circle-filled" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIFNnxD6uB_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="3"
                      data-index="3"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gIFNnxD6uB"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#2A7D4F;--w:100%;--h:100%;--size-desktop:19px;--size-tablet:19px;--size-mobile:19px"
                        >
                          <svg data-name="check-circle-filled" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIFNnxD6uB_childItem_3 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="4"
                      data-index="4"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gIFNnxD6uB"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#2A7D4F;--w:100%;--h:100%;--size-desktop:19px;--size-tablet:19px;--size-mobile:19px"
                        >
                          <svg data-name="check-circle-filled" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIFNnxD6uB_childItem_4 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gtViIqLR2S"}' data-id="gtViIqLR2S" id="gtViIqLR2S" data-same-height-subgrid-container class="gtViIqLR2S gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:0px;--pr:var(--g-s-l);--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:0px;--pr-tablet:var(--g-s-l);--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gDCUlMh-fV gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"https://solydia-de.com/products/solydia","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--pb:0px;--ta:center" >
        <style>[data-id="gyKmk1R4ne"].gp-button-base::before, [data-id="gyKmk1R4ne-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
  
    }
  
      
  [data-id="gyKmk1R4ne"]:hover::before, [data-id="gyKmk1R4ne-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gyKmk1R4ne" dataId="gyKmk1R4ne" data-state="idle" aria-label="<p><span style='font-size:13px;'>Heute 40% Rabatt sichern</span></p>"
          
          href="https://solydia-de.com/products/solydia" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:48px;--pr:48px;--pt:12px;--pb:12px;--pl-tablet:48px;--pr-tablet:48px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:48px;--pr-mobile:48px;--pt-mobile:12px;--pb-mobile:12px;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--bgi:;--bg:#FFD706;--c:#242424;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal"
          class="gyKmk1R4ne gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ts:none;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" data-name="arrow-circle-right-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550821818728">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,20A108,108,0,1,0,236,128,108.12,108.12,0,0,0,128,20Zm0,192a84,84,0,1,1,84-84A84.09,84.09,0,0,1,128,212Zm48.49-92.49a12,12,0,0,1,0,17l-32,32a12,12,0,1,1-17-17L139,140H88a12,12,0,0,1,0-24h51l-11.52-11.51a12,12,0,1,1,17-17Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggyKmk1R4ne_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-614274169202279067 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/iy0n01-bx/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=614274030555366192&sectionId=614274169202279067)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggdRXcV3Nwk_text","label":"ggdRXcV3Nwk_text","default":"Was funktioniert also wirklich?"},{"type":"html","id":"ggLAtTUfzjN_text","label":"ggLAtTUfzjN_text","default":"Das Problem sind nicht Ihre Füße. Sondern die Konstruktion Ihrer Schuhe."},{"type":"html","id":"ggeznjlcDJI_text","label":"ggeznjlcDJI_text","default":"<p>Voller S3-Schutz – ohne das Gewicht und die Steifheit, die Ihre Faszie belasten.</p>"},{"type":"html","id":"ggOa8QtSsIy_text","label":"ggOa8QtSsIy_text","default":"Kevlar ersetzt die Stahlsohle. Gleiche S3-Zertifizierung. Nur halb so schwer."},{"type":"html","id":"ggMxpGd5DMk_srcSet_desktop_src","label":"ggMxpGd5DMk_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0673/2562/4490/files/Generated_Image_April_02_2026_-_2_43PM.jpg"},{"type":"html","id":"ggMxpGd5DMk_srcSet_mobile_src","label":"ggMxpGd5DMk_srcSet_mobile_src","default":"https://cdn.shopify.com/s/files/1/0673/2562/4490/files/hf_20260402.webp"},{"type":"html","id":"gg3sFvYlDgO_text","label":"gg3sFvYlDgO_text","default":"<p>Die S3-Zertifizierung erfordert bestimmte Leistungsstandards, nicht ein bestimmtes Material. Solydia verwendet eine durchtrittsichere Kevlar-Sohle anstelle von Stahl.</p><p>&nbsp;</p><p>Leichter – und sie ermöglicht Ihrem Fuß, sich natürlich zu bewegen, statt starr fixiert zu sein.</p><p>&nbsp;</p><p>Das Ergebnis: nur 460 Gramm pro Schuh, mit starker Fersendämpfung und echter Fußgewölbe-Unterstützung – entwickelt für 8+ Stunden auf Beton.</p>"},{"type":"html","id":"gg_ff8hL6xI_srcSet_desktop_src","label":"gg_ff8hL6xI_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0673/2562/4490/files/CREA_1080X1080_-_2026-04-02T140754.687.png"},{"type":"html","id":"gge5fjg9i8t_text","label":"gge5fjg9i8t_text","default":"<p>Traditioneller Sicherheitsschuh</p>"},{"type":"html","id":"ggQRkBlTyGh_childItem_0","label":"ggQRkBlTyGh_childItem_0","default":"<p>Über 1 kg pro Fuß</p>"},{"type":"html","id":"ggQRkBlTyGh_childItem_1","label":"ggQRkBlTyGh_childItem_1","default":"<p>Starre Stahlsohle</p>"},{"type":"html","id":"ggQRkBlTyGh_childItem_2","label":"ggQRkBlTyGh_childItem_2","default":"<p>Leder verschleißt auf Beton</p>"},{"type":"html","id":"ggQRkBlTyGh_childItem_3","label":"ggQRkBlTyGh_childItem_3","default":"<p>Fußgewölbe kollabiert unter Belastung</p>"},{"type":"html","id":"ggQRkBlTyGh_childItem_4","label":"ggQRkBlTyGh_childItem_4","default":"<p>Impact transfers to fascia</p>"},{"type":"html","id":"ggvXn-Fltz3_srcSet_desktop_src","label":"ggvXn-Fltz3_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0673/2562/4490/files/CREA_1080X1080_-_2026-04-02T141022.667.png"},{"type":"html","id":"ggn-28Ch0fX_srcSet_desktop_src","label":"ggn-28Ch0fX_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0673/2562/4490/files/Solydia_Logo_bk.webp"},{"type":"html","id":"ggn-28Ch0fX_srcSet_mobile_src","label":"ggn-28Ch0fX_srcSet_mobile_src","default":"https://cdn.shopify.com/s/files/1/0673/2562/4490/files/Solydia_Logo_bk.webp"},{"type":"html","id":"ggIFNnxD6uB_childItem_0","label":"ggIFNnxD6uB_childItem_0","default":"<p><strong>460 g pro Schuh</strong></p>"},{"type":"html","id":"ggIFNnxD6uB_childItem_1","label":"ggIFNnxD6uB_childItem_1","default":"<p><strong>Kevlar-Durchtrittschutz</strong></p>"},{"type":"html","id":"ggIFNnxD6uB_childItem_2","label":"ggIFNnxD6uB_childItem_2","default":"<p><strong>Für Beton entwickelt</strong></p>"},{"type":"html","id":"ggIFNnxD6uB_childItem_3","label":"ggIFNnxD6uB_childItem_3","default":"<p><strong>Stabile Fußgewölbe-Unterstützung</strong></p>"},{"type":"html","id":"ggIFNnxD6uB_childItem_4","label":"ggIFNnxD6uB_childItem_4","default":"<p>Stoßdämpfende Sohle</p>"},{"type":"html","id":"ggyKmk1R4ne_label","label":"ggyKmk1R4ne_label","default":"<p><span style=\"font-size:13px;\">Heute 40% Rabatt sichern</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}