
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-614273525913485995.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-614273525913485995.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-614273525913485995.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-614273525913485995.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-614273525913485995.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-614273525913485995.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-614273525913485995.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-614273525913485995.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-614273525913485995.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-614273525913485995.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-614273525913485995.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-614273525913485995.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-614273525913485995.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-614273525913485995.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-614273525913485995.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-614273525913485995.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-614273525913485995.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-614273525913485995.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-614273525913485995.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-614273525913485995.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-614273525913485995.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-614273525913485995.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-614273525913485995.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-614273525913485995.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-614273525913485995.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-614273525913485995.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-614273525913485995.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-614273525913485995.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-614273525913485995.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-614273525913485995.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-614273525913485995.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-614273525913485995.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-614273525913485995.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-614273525913485995.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-614273525913485995.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-614273525913485995.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-614273525913485995.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-614273525913485995.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-614273525913485995.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-614273525913485995.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-614273525913485995.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-614273525913485995.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-614273525913485995.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-614273525913485995.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-614273525913485995.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-614273525913485995.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-614273525913485995.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-614273525913485995.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-614273525913485995.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-614273525913485995.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-614273525913485995.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-614273525913485995.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-614273525913485995.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-614273525913485995.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-614273525913485995.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-614273525913485995.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-614273525913485995.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-614273525913485995.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-614273525913485995.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-614273525913485995.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-614273525913485995.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-614273525913485995.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-614273525913485995.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-614273525913485995.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-614273525913485995.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-614273525913485995.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-614273525913485995.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-614273525913485995.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-614273525913485995.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-614273525913485995.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-614273525913485995.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-614273525913485995.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-614273525913485995.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-614273525913485995.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-614273525913485995.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-614273525913485995.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-614273525913485995.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-614273525913485995.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-614273525913485995.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-614273525913485995.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-614273525913485995.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-614273525913485995.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-614273525913485995.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-614273525913485995.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-614273525913485995.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-614273525913485995.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-614273525913485995.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-614273525913485995.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-614273525913485995.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-614273525913485995 .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-614273525913485995 .gp-invisible{visibility:hidden}.gps-614273525913485995 .gp-absolute{position:absolute}.gps-614273525913485995 .gp-relative{position:relative}.gps-614273525913485995 .gp-inset-0{inset:0}.gps-614273525913485995 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-614273525913485995 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-614273525913485995 .-gp-z-1{z-index:-1}.gps-614273525913485995 .gp-z-1{z-index:1}.gps-614273525913485995 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-614273525913485995 .gp-mb-0{margin-bottom:0}.gps-614273525913485995 .gp-flex{display:flex}.gps-614273525913485995 .gp-inline-flex{display:inline-flex}.gps-614273525913485995 .gp-grid{display:grid}.gps-614273525913485995 .\!gp-hidden{display:none!important}.gps-614273525913485995 .gp-hidden{display:none}.gps-614273525913485995 .gp-h-full{height:100%}.gps-614273525913485995 .gp-w-full{width:100%}.gps-614273525913485995 .gp-max-w-full{max-width:100%}.gps-614273525913485995 .gp-shrink-0{flex-shrink:0}.gps-614273525913485995 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-614273525913485995 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-614273525913485995 .gp-flex-col{flex-direction:column}.gps-614273525913485995 .\!gp-content-stretch{align-content:stretch!important}.gps-614273525913485995 .gp-items-center{align-items:center}.gps-614273525913485995 .gp-justify-center{justify-content:center}.gps-614273525913485995 .gp-self-center{align-self:center}.gps-614273525913485995 .gp-overflow-hidden{overflow:hidden}.gps-614273525913485995 .gp-break-words{overflow-wrap:break-word}.gps-614273525913485995 .gp-text-center{text-align:center}.gps-614273525913485995 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-614273525913485995 .gp-no-underline{text-decoration-line:none}.gps-614273525913485995 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-614273525913485995 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-614273525913485995 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-614273525913485995 .gp-duration-200{transition-duration:.2s}.gps-614273525913485995 .gp-duration-300{transition-duration:.3s}.gps-614273525913485995 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-614273525913485995 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-614273525913485995 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-614273525913485995 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-614273525913485995 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-614273525913485995 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-614273525913485995 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-614273525913485995 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-614273525913485995 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-614273525913485995 .tablet\:\!gp-relative{position:relative!important}.gps-614273525913485995 .tablet\:\!gp-hidden{display:none!important}.gps-614273525913485995 .tablet\:gp-hidden{display:none}.gps-614273525913485995 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-614273525913485995 .tablet\:gp-justify-center{justify-content:center}}@media (max-width:767px){.gps-614273525913485995 .mobile\:\!gp-relative{position:relative!important}.gps-614273525913485995 .mobile\:\!gp-hidden{display:none!important}.gps-614273525913485995 .mobile\:gp-hidden{display:none}.gps-614273525913485995 .mobile\:\!gp-h-auto{height:auto!important}.gps-614273525913485995 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-614273525913485995 .mobile\:gp-justify-center{justify-content:center}}.gps-614273525913485995 .\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}@media (max-width:1024px){.gps-614273525913485995 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-614273525913485995 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-614273525913485995 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-614273525913485995 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-614273525913485995 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-614273525913485995 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-614273525913485995 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-614273525913485995 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gzYwILojkk"}' data-id="gzYwILojkk" id="gzYwILojkk" data-same-height-subgrid-container class="gzYwILojkk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--pt-tablet:0px;--pb-tablet:0px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gKk-IWQ5gX gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gH-CAxMkbG"
        class="gH-CAxMkbG gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pb:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--w:100%;--w-tablet:100%;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#000000","image":{"src":"{{ section.settings.ggH-CAxMkbG_background_desktop_image_src }}","width":1500,"height":543,"storage":"FILE_CONTENT","backupFileKey":"gempages_612947168507986491-2b4e0e71-2b74-4483-859b-96756b21c7d8.jpg"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube","preload":true,"lazyLoad":false},"tablet":{"attachment":"scroll","color":"#000000","image":{"src":"{{ section.settings.ggH-CAxMkbG_background_desktop_image_src }}","width":1500,"height":543,"storage":"FILE_CONTENT","backupFileKey":"gempages_612947168507986491-2b4e0e71-2b74-4483-859b-96756b21c7d8.jpg"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube","preload":true,"lazyLoad":false},"mobile":{"attachment":"scroll","color":"#000000","image":{"src":"{{ section.settings.ggH-CAxMkbG_background_mobile_image_src }}","width":1100,"height":1375,"storage":"FILE_CONTENT","backupFileKey":"gempages_612947168507986491-bc63218f-c05c-41d8-b0c8-db42c1d89679.jpg"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube","preload":true,"lazyLoad":false}},"uid":"gH-CAxMkbG","speedParallax":0,"hoverEffect":true,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill","type":"center"}},"contentPosition1Col":{"desktop":"center","mobile":"center"},"contentPosition2Col":{"desktop":"center"},"sizeSetting":{"desktop":{"height":"auto","shape":"custom","shapeLinked":false,"width":"100%","enableVideoShape":false},"tablet":{"height":"auto","shape":"custom","shapeLinked":false,"width":"100%"},"mobile":{"height":"","shape":"custom","shapeLinked":false,"width":"","enableVideoShape":false,"gap":"","shapeValue":"","customShapeValue":""}},"videoObjectFit":{},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--bgc:#000000;--bgc-mobile:#000000">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform" style="--bgi:url({{ section.settings.ggH-CAxMkbG_background_desktop_image_src }});--bgi-tablet:url({{ section.settings.ggH-CAxMkbG_background_desktop_image_src }});--bgi-mobile:url({{ section.settings.ggH-CAxMkbG_background_mobile_image_src }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgc:#000000;--bgc-mobile:#000000;--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
          
        </div>
        <div aria-label="Overlay" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]" style="--hvr-bgc:#121212;--bgc:#121212;--op:80%;--hvr-op:80%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{"background":{}}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-center tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g38LyggXRt gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gIwnRMv3XN"}' data-id="gIwnRMv3XN" id="gIwnRMv3XN" data-same-height-subgrid-container class="gIwnRMv3XN gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:118px;--mb:72px;--mt-tablet:118px;--mb-tablet:63px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:700px;--w-tablet:700px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gRCvNwqxzM gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXCcHcK-8P"
        class="gXCcHcK-8P"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:18px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:40px;--size-tablet:51px;--size-mobile:25px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXCcHcK-8P_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTuIx5SInK"
        class="gTuIx5SInK"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:22px;--pl:50px;--pr:50px;--pl-mobile:10px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTuIx5SInK_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"https://solydia.com/products/secure-shoes","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--ta:center" >
        <style>[data-id="gkPnpQ42Qn"].gp-button-base::before, [data-id="gkPnpQ42Qn-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
  
    }
  
      
  [data-id="gkPnpQ42Qn"]:hover::before, [data-id="gkPnpQ42Qn-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gkPnpQ42Qn" dataId="gkPnpQ42Qn" data-state="idle" aria-label="<p><strong>Get 40% Off Today + 30 Day Guarantee</strong></p>"
          
          href="https://solydia.com/products/secure-shoes" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:48px;--pr:48px;--pt:12px;--pb:12px;--pl-tablet:48px;--pr-tablet:48px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:48px;--pr-mobile:48px;--pt-mobile:12px;--pb-mobile:12px;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--bgi:;--bg:#FFD706;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal"
          class="gkPnpQ42Qn gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" data-name="arrow-circle-right-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550821818728">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,20A108,108,0,1,0,236,128,108.12,108.12,0,0,0,128,20Zm0,192a84,84,0,1,1,84-84A84.09,84.09,0,0,1,128,212Zm48.49-92.49a12,12,0,0,1,0,17l-32,32a12,12,0,1,1-17-17L139,140H88a12,12,0,0,1,0-24h51l-11.52-11.51a12,12,0,1,1,17-17Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggkPnpQ42Qn_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gLmsleUnot gp-custom-code">
      <div>
    <script>
function getAllUrlParams() {
    var params = {};
    var queryString = window.location.search.substring(1);
    var vars = queryString.split('&');
    for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split('=');
        if (pair[0]) {
            params[pair[0]] = decodeURIComponent(pair[1] || '');
        }
    }
    return params;
}

function buildParamString(params) {
    var paramArray = [];
    for (var key in params) {
        if (params.hasOwnProperty(key) && params[key]) {
            paramArray.push(key + '=' + encodeURIComponent(params[key]));
        }
    }
    return paramArray.join('&');
}

function updateLinks() {
    var allParams = getAllUrlParams();
    var paramString = buildParamString(allParams);
    var yourBrandButtons = document.querySelectorAll('a[href*="solydia.com"]');
    
    if (yourBrandButtons.length > 0) {
        yourBrandButtons.forEach(function(button) {
            var currentHref = button.getAttribute('href');
            var separator = currentHref.includes('?') ? '&' : '?';
            button.setAttribute('href', currentHref + separator + paramString);
            button.removeAttribute('rel');
        });
        return true;
    }
    return false;
}

var attempts = 0;
var maxAttempts = 20;
var checkInterval = setInterval(function() {
    attempts++;
    if (updateLinks() || attempts >= maxAttempts) {
        clearInterval(checkInterval);
    }
}, 100);

window.addEventListener('load', updateLinks);
document.addEventListener('DOMContentLoaded', updateLinks);
</script>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggH-CAxMkbG_background_mobile_image_src }}" srcset="{{ section.settings.ggH-CAxMkbG_background_mobile_image_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggH-CAxMkbG_background_desktop_image_src }}" srcset="{{ section.settings.ggH-CAxMkbG_background_desktop_image_src }}" />
    
      
      <img
        loading="eager" fetchpriority="high" title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ section.settings.ggH-CAxMkbG_background_desktop_image_src }}" data-src="{{ section.settings.ggH-CAxMkbG_background_desktop_image_src }}"
        alt=""
        width="100%"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:auto"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-614273525913485995 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/iy0n01-bx/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=614273423538913963&sectionId=614273525913485995)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggH-CAxMkbG_background_desktop_image_src","label":"ggH-CAxMkbG_background_desktop_image_src","default":"https://cdn.shopify.com/s/files/1/0673/2562/4490/files/Design_sans_titre_56.jpg"},{"type":"html","id":"ggH-CAxMkbG_background_desktop_videoHtml5","label":"ggH-CAxMkbG_background_desktop_videoHtml5","default":"https://media.w3.org/2010/05/sintel/trailer.mp4"},{"type":"html","id":"ggH-CAxMkbG_background_mobile_image_src","label":"ggH-CAxMkbG_background_mobile_image_src","default":"https://cdn.shopify.com/s/files/1/0673/2562/4490/files/BANNER_MOBILE_88_fe844808-d56f-4362-91d0-b0082b2d5eb5.jpg"},{"type":"html","id":"ggH-CAxMkbG_background_mobile_videoHtml5","label":"ggH-CAxMkbG_background_mobile_videoHtml5","default":"https://media.w3.org/2010/05/sintel/trailer.mp4"},{"type":"html","id":"ggXCcHcK-8P_text","label":"ggXCcHcK-8P_text","default":"<strong>Try Solydia For 30 Days. If Your Feet Still Hurt, You Pay Nothing.</strong>"},{"type":"html","id":"ggTuIx5SInK_text","label":"ggTuIx5SInK_text","default":"<p>You've already spent money on boots that didn't deliver. This time the risk is ours.</p>"},{"type":"html","id":"ggkPnpQ42Qn_label","label":"ggkPnpQ42Qn_label","default":"<p><strong>Get 40% Off Today + 30 Day Guarantee</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}